<div class="auth-container">
  <div class="auth-panel">
    <md-card>
      <aj-verifyemail [hidden]="!hideTab"></aj-verifyemail>
      <!--<label [hidden]="!hideTab">Verifying Email ...</label>-->
      <md-tab-group [hidden]="hideTab"
                    [dynamicHeight]="true"
                    [(selectedIndex)]="selectedIndex"
                    (selectedIndexChange)="onSelectedTabIndexChange()">
        <md-tab label="{{authData.signin.display | translate}}">
          <aj-signin></aj-signin>
        </md-tab>
        <md-tab label="{{authData.signup.display | translate}}">
          <aj-signup></aj-signup>
        </md-tab>
        <!--<md-tab label="{{authData.forgotPassword.display | translate}}">-->
          <!--<aj-forgotpassword></aj-forgotpassword>-->
        <!--</md-tab>-->
        <!--<md-tab label="{{authData.resetPassword.display | translate}}">-->
          <!--<aj-resetpassword></aj-resetpassword>-->
        <!--</md-tab>-->
      </md-tab-group>
    </md-card>
  </div>
</div>
