<!-- side menu -->
<div class="navbar-collapse"
     [ngStyle]="{'min-height': getMinHeight(), 'transition': getTransition()}"
     [ngClass]="{'sideMenuExpanded': isSideMenuExpanded()}">
  <ul class="nav navbar-nav navbar-right"
      [ngStyle]="{'max-height': getMaxHeight(), 'overflow-y': getOverflowY()}">
    <li>
      <a href="#"><i *ngIf="showIcon()" class="fa fa-fw fa-info-circle" aria-hidden="true"></i>{{'NAVBAR.SIDE.ABOUT_US'|translate}}</a>
    </li>
    <li>
      <a href="#"><i *ngIf="showIcon()" class="fa fa-fw fa-calendar-plus-o" aria-hidden="true"></i>{{'NAVBAR.SIDE.CREATE_TRIP'|translate}}</a>
    </li>
    <li>
      <a href="#"><i *ngIf="showIcon()" class="fa fa-fw fa-question-circle-o" aria-hidden="true"></i>{{'NAVBAR.SIDE.HELP'|translate}}</a>
    </li>

    <li class="divider"></li>

    <li *ngIf="showSearch()">
      <button class="navbar-button-search">
        <span><i class="fa fa-search" aria-hidden="true"></i></span>
      </button>
    </li>

    <aj-submenu [menuData]="getSubMenuData('language')"
                (onSubMenuExpanded)="onSubMenuExpanded($event)">
    </aj-submenu>

    <li *ngIf="!authenticated" class="divider"></li>
    <li *ngIf="!authenticated; else loginSuccess">
      <a href="#">{{'NAVBAR.SIDE.SIGNIN_SIGNUP'|translate}}</a>
    </li>
    <ng-template #loginSuccess>
      <aj-submenu [menuData]="getSubMenuData('user')"
                  (onSubMenuExpanded)="onSubMenuExpanded($event)">
      </aj-submenu>
    </ng-template>

    <li *ngIf="showLogout()" class="divider"></li>
    <li *ngIf="showLogout()">
      <a href="#">{{'NAVBAR.SIDE.SIGNOUT'|translate}}</a>
    </li>
  </ul>
</div>
