<!-- side menu -->
<div class="navbar-collapse"
     [ngStyle]="{'min-height': getMinHeight(), 'transition': getTransition()}"
     [ngClass]="{'sideMenuExpanded': isSideMenuExpanded()}">
  <div class="navbar-nav-container" [ngStyle]="{'max-height': getMaxHeight(), 'overflow-y': getOverflowY()}">
    <ul class="nav navbar-nav">
      <li *ngFor="let menuItem of sideMenuData.value">
        <a href="#">
          <i *ngIf="isDeviceWidth()"
             class='fa fa-fw'
             [ngClass]="menuItem.iconClass ? menuItem.iconClass : ''"
             aria-hidden="true">
          </i>{{menuItem.display | translate}}
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="!isDeviceWidth()">
        <a class="navbar-search" href="#a">
          <i class="fa fa-fw fa-search" aria-hidden="true"></i>
        </a>
      </li>

      <aj-submenu [menuData]="getSubMenuData('language')"
                  (onSubMenuExpanded)="onSubMenuExpanded($event)">
      </aj-submenu>

      <li *ngIf="!authenticated; else loginSuccess">
        <a href="#">{{'NAVBAR.SIDE.SIGNIN_SIGNUP'|translate}}</a>
      </li>
      <ng-template #loginSuccess>
        <aj-submenu [menuData]="getSubMenuData('user')"
                    (onSubMenuExpanded)="onSubMenuExpanded($event)">
        </aj-submenu>
      </ng-template>

      <!--<li *ngIf="showLogout()" class="divider"></li>-->
      <li *ngIf="authenticated && isDeviceWidth()">
        <a href="#">{{'NAVBAR.SIDE.SIGNOUT'|translate}}</a>
      </li>
    </ul>
  </div>
</div>
