.navbar-custom {
  background: rgba(0, 0, 0, 0.50);
}

.navbar-brand {
  margin-top: 2px;
  padding: 3px;
}

.navbar-brand>img {
  height: 100%;
  padding: 8px 12px;
  width: auto;
}

.navbar-toggle {
  margin-right: 5px;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 24px;
  height: 3px;
  background-color: #FFFFFF;
  border-radius: 1px;
}

.navbar-collapse.collapsing,
.navbar-collapse.in {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.50);
}

@media (max-width: 768px) {
  .navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: auto;
    float: none;
    width: 100%;
    height: 400px;
  }
  .navbar-nav>li {
    float: none;
    text-align: left;
  }
}

/*@media (min-width: 768px) {*/
  /*.navbar-brand{*/
    /*display: none;*/
  /*}*/
/*}*/

/*
.nav >li >a {
  color: #FFFFFF;
  padding-top: 5px;
  padding-bottom: 5px;
}
*/

.nav li a {
  color: #FFFFFF;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  text-decoration: none;
}


.nav li a:hover {
  background-color: inherit;
  color: #FFFFFF;
  text-shadow: 2px 2px 0px black;
  /*font-weight: bold;*/
}

/*.nav li a::after {*/
  /*display:block;*/
  /*content:attr(title);*/
  /*font-weight:bold;*/
  /*height:1px;*/
  /*color:transparent;*/
  /*overflow:hidden;*/
  /*visibility:hidden;*/
  /*margin-bottom:-1px;*/
/*}*/

/*
#nav {
  background-color: #DFF7EB;
  font-family: Arial;
}
#nav_wrapper {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
#nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  min-width: 200px;
}
#nav ul li {
  display: inline-block;
}
#nav ul li:hover {
  background-color: #C6F7D4;
  color:#FFF;
}
#nav ul li a, visited {
  color: #69716D;
  display: block;
  padding: 15px;
  text-decoration: none;
}
*/
/*
@media (min-width: 1200px) {
  .nav > li.divider {
    *width: 100%;
    height: 1px;
    margin: 9px 1px;
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: inherit;
    border-bottom: 1px solid #ffffff;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .navbar-collapse .nav > li.divider {
    *width: 100%;
    height: 1px;
    margin: 9px 1px;
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: inherit;
    border-bottom: 1px solid #ffffff;
  }
}
@media (min-width: 600px){
  .navbar-collapse .nav > li.divider {
    *width: 100%;
    height: 1px;
    margin: 9px 1px;
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: inherit;
    border-bottom: 1px solid #ffffff;
  }
}
*/
/* Landscape phones and down */
@media (max-width: 768px) {
  .navbar-collapse .nav > li.divider {
    *width: 100%;
    height: 1px;
    margin: 9px 1px;
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: inherit;
    border-bottom: 1px solid #ffffff;
  }
}

.dropdown-toggle .icon-bar {
  margin-bottom:2px;
  display: block;
  width: 22px;
  height: 2px;
  background-color: #cccccc;
  border-radius: 1px;
}

/*
.slideIn {
  transform: translateX(0);
}
.slideOut {
  transform: translateX(-100%);
}
*/
