<div class="navbar-search"
     [ngClass]="{'searchExpanded': isSearchMenuExpanded()}"
     [style.min-height]="getMinHeight()">
  <div [ngStyle]="{'max-height': getMaxHeight(), 'overflow-y': getOverflowY()}">
    <div class="navbar-search-content"
         [style.width]="fieldWidth + 'px'">
      <label class="search-label">Search Events</label>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-body">
            <aj-autocomplete
              [dataList]="dataList"
              [width]="fieldWidth"
              [filterFunc]="filterPlaces"
              [placeHolder]="'Search Places'"
              (selected)="onPlaceSelected($event)">
            </aj-autocomplete>
          </div>
        </div>
        <div id="datePickerPanel" class="panel panel-default">
          <div class="panel-body">
            <aj-daterangepicker
              [placeholder]="'Select Date Range'"
              [width]="fieldWidth"
              [height]="fieldHeight"
              [options]="dateRangePickerOptions">
            </aj-daterangepicker>
          </div>
        </div>
        <div #categoryPanel class="panel panel-default">
          <div class="panel-body">Category</div>
        </div>
      </div>
      <button class="btn btn-clearall">Clear All</button>
    </div>
  </div>
</div>
