<form class="auth-form" novalidate [formGroup]="formGroup" (ngSubmit)="onForgotPassword($event)">
  <label class="auth-message" [ngClass]="{'error': message}">
    {{message | translate}}
  </label>
  <div class="auth-input-group">
    <aj-input
      [inputData]="formElements.email"
      [type]="'text'"
      (bindControl)="onBindControl($event)"
      (clicked)="onClicked($event)">
    </aj-input>
  </div>
  <div class="auth-btn-container">
    <button
      class="auth-btn"
      [disabled]="!isValid()"
      [ngClass]="{'disabled': !isValid()}"
      type="submit">
      {{formElements.submitButton.display | translate}}
    </button>
  </div>
</form>
