<form class="auth-form" novalidate [formGroup]="formGroup" (ngSubmit)="onSignIn($event)" #form="ngForm">
  <div class="auth-message-container">
    <label class="auth-message" [ngClass]="{'error': message}">
      {{message | translate}}
    </label>
  </div>
  <div class="auth-input-group">
    <aj-input
      *ngFor="let element of inputElements"
      [inputData]="element"
      [type]="element.name==='password' ? passwordType : 'text'"
      (bindControl)="onBindControl($event)"
      (clicked)="onClicked($event)">
    </aj-input>
    <md-checkbox [disableRipple]="true"
                 [color]="'primary'"
                 (change)="onPasswordTypeChange()">{{formElements.showPassword.display | translate}}
    </md-checkbox>
  </div>
  <!--<div class="auth-forgotpassword-container">-->
  <a class="auth-forgotpassword">{{formElements.forgotPassword.display | translate}}</a>
  <!--</div>-->
  <div class="auth-btn-container">
    <button
      class="auth-btn"
      [disabled]="!isValid()"
      [ngClass]="{'disabled': !isValid()}"
      type="submit">
      {{formElements.submitButton.display | translate}}
    </button>
  </div>
</form>
