<div class="dropdown-container">
  <div class="inputgroup">
    <input id="dropDownInput"
           type="text"
           placeholder="{{placeHolder | translate}}"
           [(ngModel)]="inputString"
           (focus)="onFocus($event)"
           (ngModelChange)="onInputChange($event)"
           (keydown)="onKeyDown($event)"
           (blur)="onBlur($event)"
           (click)="onClick($event)"
           [readonly]="!autoComplete">
    <span class="inputgroup-span">
      <button class="inputgroup-btn" type="button" (click)="onClick($event)">
        <span *ngIf="autoComplete"><i class="fa fa-pencil"></i></span>
        <span *ngIf="!autoComplete">
          <i class="fa fa-chevron-down" [ngClass]="{'fa-rotate-180': isDropDownExpanded()}" aria-hidden="true"></i>
        </span>
      </button>
    </span>
  </div>
  <div class="dropdownmenu"
       *ngIf="isDropDownExpanded() && displayList.length > 0"
       [style.width]="menuWidth">
    <ul *ngFor="let item of displayList; let idx = index">
      <li [class.dropdownmenu-selected]="idx === selectedIndex">
        <a [routerLink]="item.link ? item.link.param ? [item.link.path, item.link.param] : [item.link.path] : []"
           (click)="onSelect(item)">
          <span>
            <i [ngClass]="item.iconClass && item.iconClass !== '' ? item.iconClass : ''" aria-hidden="true"></i>
          </span>
          &nbsp;{{item[displayProperty]}}
        </a>
      </li>
    </ul>
  </div>
</div>
