.dropdown-container {
  padding: 0;
  margin: 0;
  width: 100%;
}

.inputgroup {
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;
  outline: none;
  /*white-space: nowrap;*/
  border: 1px solid white;
  border-spacing: 0;
  border-radius: 5px;
  background-color: transparent;
}

.inputgroup > input {
  display: table-cell;
  width: 100%;
  padding: 5px 15px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: none;
  outline: none;
  color: white;
  /*font-size: 17px;*/
  font-size: 14px;
  background-color: transparent;
}

.inputgroup > input::-webkit-input-placeholder {
  color: white;
  opacity: 1
}
.inputgroup > input::-moz-placeholder {
  color: white;
  opacity: 1
}
.inputgroup > input:-ms-input-placeholder {
  color: white;
  opacity: 1
}
.inputgroup > input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.inputgroup > input:focus::-moz-placeholder {
  opacity: 0;
}
.inputgroup > input:focus:-ms-input-placeholder {
  opacity: 0;
}

.inputgroup-span {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  /*height: 36px;*/
  width: 1%;
  padding: 0;
  margin: 0;
}
.inputgroup-btn {
  height: 100%;
  width: 32px;
  border: none;
  border-left: 1px solid white;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0 5px 5px 0;
  background-color: transparent;
  /*font: inherit;*/
  /*-moz-user-select: none;*/
}

.fa-chevron-down {
  color: white;
  font-size: 100%;
  /*font-size: 120%;*/
  transition: all 0.3s ease-in-out;
}
.fa-pencil {
  color: white;
  font-size: 100%;
  /*font-size: 120%;*/
}

.dropdownmenu {
  border:solid 1px white;
  /*position: absolute;*/
  margin-top: 2px;
  padding: 10px 0 10px;
  background-color: transparent;
  border-radius: 5px;
}
.dropdownmenu ul {
  padding: 0px;
  margin: 0px;
}
.dropdownmenu ul li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.dropdownmenu ul li a {
  padding: 5px 15px 5px;
  display: block;
  text-decoration: none;
  font-size: 18px;
  color: white;
}
.dropdownmenu ul li a:hover {
  background-color: rgba(255, 255, 255, 0.50);
}
.dropdownmenu-selected {
  background-color: rgba(255, 255, 255, 0.50);
  color: white;
}
