<form class="auth-form" novalidate [formGroup]="formGroup" (ngSubmit)="onSignUp($event)" #form="ngForm">
  <div class="auth-input-group">
    <aj-input
      *ngFor="let inputData of inputListData"
      [inputData]="inputData"
      [type]="inputData.controlName==='password' || inputData.controlName==='confirmPassword' ? passwordType: inputData.type"
      [formValidateData]="getFormValidateData(inputData.controlName)"
      (bindControl)="onBindControl($event)">
    </aj-input>
    <md-checkbox [disableRipple]="true"
                 [color]="'primary'"
                 (change)="onPasswordTypeChange()">{{formData.labels.showPassword | translate}}
    </md-checkbox>
  </div>
  <div class="auth-btn-container">
    <button
      class="auth-btn"
      [disabled]="!isValid()"
      [ngClass]="{'disabled': !isValid()}"
      type="submit">
      {{formData.labels.submitButton | translate}}
    </button>
  </div>
</form>
