md-input-container {
  width: 100%;
  margin: 7px 0 7px;
}

:host >>> input {
  font-size: 16px;
}

:host >>> input:-webkit-autofill,
:host >>> input:-webkit-autofill:hover,
:host >>> input:-webkit-autofill:focus,
:host >>> input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

:host >>> .mat-input-placeholder-wrapper {
  top: -1.5em;
  padding-top: 1em;
}
:host >>> .mat-input-placeholder {
  font-size: 16px;
  padding-top: 0.9em;
  padding-bottom: 0.5em;
}

:host >>> .mat-input-subscript-wrapper {
  margin-top: -1em;
  line-height: 1.5em;
  font-size: 12px;
}
