<div class="searchfield-container">
  <div class="searchfield-group"
       [ngClass]="{'showSearch': showSearch}" [ngStyle]="{'width': fieldWidth}">
    <div class="searchfield-item" [ngStyle]="{'width': placesWidth}">
      <aj-dropdown #placeSearcher
                   [dataList]="searchService.placeList"
                   [placeHolder]="'NAVBAR.SEARCH.PLACES.FIELD_INPUT_TXT'"
                   [height]="fieldHeight"
                   [filterFunc]="searchService.filterPlaces"
                   [displayProperty]="'display'"
                   [displayMaxCount]="searchService.displayedPlacesMaxCount"
                   [sorted]="true"
                   [autoComplete]="true"
                   (clicked)="onFieldClicked('placeSearcher')"
                   (blurred)="onFieldBlurred('placeSearcher')"
                   (selected)="onPlaceSelected($event)">
      </aj-dropdown>
    </div>
    <div class="searchfield-item" [ngStyle]="{'width': dateRangePickerWidth}">
      <aj-daterangepicker #dateRangePicker
                          [placeholder]="'NAVBAR.SEARCH.DRP.INPUT.FIELD_TXT'"
                          [height]="fieldHeight"
                          [options]="searchService.dateRangePickerOptions"
                          (calendarOpened)="onCalendarOpened($event)">
      </aj-daterangepicker>
    </div>
    <div class="searchfield-item" [ngStyle]="{'width': categoryWidth}" tabindex="1">
      <aj-dropdown #categoryPicker
                   [dataList]="searchService.categoryList"
                   [placeHolder]="'NAVBAR.SEARCH.CATEGORY.FIELD_INPUT_TXT'"
                   [height]="fieldHeight"
                   [displayProperty]="'display'"
                   (clicked)="onFieldClicked('categoryPicker')"
                   (blurred)="onFieldBlurred('categoryPicker')"
                   (selected)="onCategorySelected($event)">
      </aj-dropdown>
    </div>
  </div>
  <a class="searchfield-link"
     (click)="! showSearch ? onSearchClicked($event) :
                             onSearchClicked($event);
                             placeSearcher.clearField();
                             categoryPicker.clearField();
                             dateRangePicker.clearDateRange()">
    <i class="fa fa-fw fa-search" aria-hidden="true"></i>
  </a>
</div>

