<nav class="navbar navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed pull-left" (click)="toggleMenuState()">
        <!--<span class="sr-only">Toggle navigation</span>-->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://www.google.com">
        <img [src]="homeLogo" alt="Across Japan">
      </a>
    </div>
    <div class="navbar-collapse" [@menuInOut]="menuState" [ngClass]="{'in': isMenuExpanded()}">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Introduction</a></li>
        <li><a href="#">Need Help?</a></li>
        <li class="divider"></li>
        <li><a href="#">Log In / Sign Up</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" (click)="toggleSubMenuState()">
            Language&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu" [ngClass]="{'in': isSubMenuExpanded()}">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
          </ul>
        </li>





      </ul>
    </div>
  </div>
</nav>
