<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed pull-left"
              (click)="onSideMenuButtonClick($event)">
        <!--<span class="sr-only">Toggle navigation</span>-->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="">
        <img [src]="navbarConfig.homeLogo" alt="Across Japan">
      </a>
      <button *ngIf="!searchMenu.isSearchMenuExpanded()"
              class="navbar-toggle navbar-button-search"
              (click)="onSearchMenuButtonClick($event)">
        <span><i [class]="navbarConfig.searchButton.iconClass" aria-hidden="true"></i></span>
      </button>
      <button *ngIf="searchMenu.isSearchMenuExpanded()"
              class="navbar-toggle navbar-button-close"
              (click)="onSearchMenuButtonClick($event)">
        &times;
      </button>
    </div>

    <aj-sidemenu [sideMenuData]="navbarConfig.sideMenu"></aj-sidemenu>
    <aj-searchmenu [searchMenuData]="navbarConfig.searchMenu"></aj-searchmenu>
  </div>
</nav>
