<nav class="navbar navbar-fixed-top no-transition">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed pull-left"
        (click)="toggleMenuState()">
        <!--<span class="sr-only">Toggle navigation</span>-->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img [src]="homeLogo" alt="Across Japan">
      </a>
      <button
        class="navbar-toggle navbar-button-search"
        (click)="toggleSearchState()">
        <span *ngIf="!isSearchExpanded()"><i class="fa fa-search" aria-hidden="true"></i></span>
        <span *ngIf="isSearchExpanded()">&#10060;</span>
      </button>
    </div>

    <!-- side menu -->
    <div class="navbar-collapse" [ngClass]="{'menuExpanded': isMenuExpanded()}">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#"><i *ngIf="displayIcon()" class="fa fa-calendar-check-o" aria-hidden="true"></i>&nbsp; About Us</a>
        </li>
        <li>
          <a href="#"><i *ngIf="displayIcon()" class="fa fa-calendar-plus-o" aria-hidden="true"></i>&nbsp; Create a Trip</a>
        </li>
        <li>
          <a href="#"><i *ngIf="displayIcon()" class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp; Help</a>
        </li>

        <li class="divider"></li>

        <aj-submenu #langMenu
                    [type]="getLanguageSubMenuType()"
                    (onToggled)="onToggled($event)">
        </aj-submenu>
        <ng-template [ngTemplateOutlet]="langMenu.submenu"></ng-template>

        <li *ngIf="!authenticated" class="divider"></li>
        <li *ngIf="!authenticated; else loginSuccess">
          <a href="#">Log In / Sign Up</a>
        </li>

        <ng-template #loginSuccess>
          <aj-submenu #userMenu
                      [type]="getUserSubMenuType()"
                      (onToggled)="onToggled($event)">
          </aj-submenu>
          <ng-template [ngTemplateOutlet]="userMenu.submenu"></ng-template>
        </ng-template>

        <li *ngIf="displayLogout()" class="divider"></li>
        <li *ngIf="displayLogout()">
          <a href="#">Log Out</a>
        </li>
      </ul>
    </div>

    <!-- search menu -->
    <div class="navbar-collapse navbar-search" [ngClass]="{'searchExpanded': isSearchExpanded()}">
      <!--<div class="container-fluid">-->
        <label class="search-label">Search Skii Events</label>
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-body">Any Places</div>
          </div>
          <div class="panel panel-default">
            <div class="panel-body">Any Time</div>
          </div>
          <div class="panel panel-default">
            <div class="panel-body"># of Guests</div>
          </div>
        </div>
        <button class="btn btn-clearall">Clear All</button>
      <!--</div>-->
    </div>
  </div>
</nav>
