/* changing the breakpoint to anything over 768px */
/* http://stackoverflow.com/questions/19827605/change-bootstrap-navbar-collapse-breakpoint-without-using-less */
/*@media (max-width: 769px) {*/
  /*.navbar-header {*/
    /*float: none;*/
  /*}*/
  /*.navbar-left,.navbar-right {*/
    /*float: none !important;*/
  /*}*/
  /*.navbar-toggle {*/
    /*display: block;*/
  /*}*/
  /*.navbar-collapse {*/
    /*border-top: 1px solid transparent;*/
    /*box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);*/
  /*}*/
  /*.navbar-fixed-top {*/
    /*top: 0;*/
    /*border-width: 0 0 1px;*/
  /*}*/
  /*.navbar-collapse.collapse {*/
    /*display: none!important;*/
  /*}*/
  /*.navbar-nav {*/
    /*float: none!important;*/
    /*margin-top: 7.5px;*/
  /*}*/
  /*.navbar-nav>li {*/
    /*float: none;*/
  /*}*/
  /*.navbar-nav>li>a {*/
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
  /*}*/
  /*.collapse.in{*/
    /*display:block !important;*/
  /*}*/
/*}*/


/* changing the breakpoint to anything less than 768px */
/* http://stackoverflow.com/questions/42724884/bootstrap-navbar-collapse-point-768px/42725215#42725215 */
/*@media only screen and (min-width: 420px) {*/
  /*.collapse {*/
    /*display: block;*/
  /*}*/

  /*.navbar-header {*/
    /*float: left;*/
  /*}*/

  /*.navbar-toggle {*/
    /*display: none;*/
  /*}*/

  /*.navbar-nav.navbar-left {*/
    /*float: left;*/
    /*margin: 0;*/
  /*}*/

  /*.navbar-nav.navbar-right {*/
    /*float: right;*/
    /*margin: 0;*/
  /*}*/
  /*.navbar-nav>li {*/
    /*float: left;*/
  /*}*/
  /*.navbar-nav>li>a {*/
    /*padding-top: 15px;*/
    /*padding-bottom: 15px;*/
  /*}*/
/*}*/

/*@media only screen and (max-width: 420px) {*/
  /*.collapse {*/
    /*display: none;*/
  /*}*/
  /*.navbar-header {*/
    /*display: block;*/
  /*}*/
/*}*/

.no-transition * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.navbar {
  height: 50px;
  background: rgba(0, 0, 0, 0.50);
}

.navbar-header {
  height: 50px;
}

.navbar-fixed-top {
  border-width: 0 0;
}

.navbar-brand {
  margin-top: 2px;
  padding: 3px;
}
.navbar-brand > img {
  height: 100%;
  padding: 8px 12px;
  width: auto;
}

.navbar-toggle {
  /*margin-right: 5px;*/
  border: none;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 24px;
  height: 3px;
  background-color: #FFFFFF;
  border-radius: 1px;
}

/*.navbar-right {*/
  /*margin-right: 1px;*/
/*}*/

@media (max-width: 767px) {
  .navbar-nav {
    margin: 10% auto 20%;
  }
  /*.navbar-nav>li {*/
    /*text-align: left;*/
  /*}*/
  .navbar-collapse {
    position: absolute;
    /*width: 250px;*/
    width: 100%;
    max-height: none;
    border-top: none;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.50);
    opacity: 0;
    z-index: -1;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out 0s;
  }
  .navbar-collapse.menuExpanded {
    opacity: 1;
    z-index: 1;
    transform: translateX(0%);
  }
}

li > a {
  color: #FFFFFF;
  background-color: inherit;
  padding-left: 10px;
  padding-right: 10px;
}
/*@media (min-width: 768px) {*/
  /*li > a:hover {*/
    /*!*color:darkblue;*!*/
    /*!*border-style:solid;*!*/
    /*!*border-width: 0px 0px 1px 0px;*!*/
    /*!*padding:2px;*!*/
    /*!*text-decoration: underline;*!*/
    /*!*text-shadow: 1px 0px 0px white;*!*/
  /*}*/
/*}*/

@media (max-width: 767px) {
  .navbar-collapse .nav > li.divider {
    *width: 100%;
    height: 15px;
    /*margin: 5px 1px;*/
    /**margin: -5px 0 5px;*/
    overflow: hidden;
    background-color: inherit;
    /*border-bottom: 1px solid #222222;*/
  }
}

.navbar-button-search {
  padding: 5px;
  margin-top: 4px;
  margin-bottom: 0;
  color: white;
  font-size: 175%;
}

.navbar-button-close {
  padding: 0px;
  margin-top: -5px;
  margin-bottom: 0px;
  margin-right: 20px;
  color: white;
  font-size: 300%;
}

/*.navbar-button-search>div {*/
  /*height: 20px;*/
  /*width: 20px;*/
  /*background-color: transparent;*/
/*}*/

/*.navbar-button-search>div:after {*/
  /*position: absolute;*/
  /*top: 5px;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*right: 5px;*/
  /*font-size: 25px;*/
  /*content: "\274c";*/
  /*color: #FFFFFF;*/
/*}*/


/*.search-close {*/
  /*position: absolute;*/
  /*right: 32px;*/
  /*top: 32px;*/
  /*width: 32px;*/
  /*height: 32px;*/
  /*opacity: 0.3;*/
/*}*/
/*.search-close:hover {*/
  /*opacity: 1;*/
/*}*/
/*.search-close:before, .search-close:after {*/
  /*position: absolute;*/
  /*left: 15px;*/
  /*content: ' ';*/
  /*height: 33px;*/
  /*width: 2px;*/
  /*background-color: #333;*/
/*}*/
/*.search-close:before {*/
  /*transform: rotate(45deg);*/
/*}*/
/*.search-close:after {*/
  /*transform: rotate(-45deg);*/
/*}*/

.navbar-search {
  position: absolute;
  /*width: 250px;*/
  width: 100%;
  max-height: none;
  border-top: none;
  box-shadow: none;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.50);
  opacity: 0;
  z-index: -1;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out 0s;
}
.navbar-search.searchExpanded {
  opacity: 1;
  z-index: 1;
  transform: translateX(0%);
}

.search-label {
  color: white;
  margin: 15px 5px;
  font-size: 120%;
}
.panel-group {
  margin-bottom: 10px;
}
.panel-group .panel+.panel {
  margin-top: 12px;
}
.panel-default {
  background-color: inherit;
  color: white;
}
.panel-body {
  padding: 12px;
}

.btn:focus {
  outline: none;
}

.btn-clearall {
  background-color: transparent;
  color: white;
  text-decoration: underline;
  float: right;
}
