.no-transition * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.navbar {
  height: 50px;
  background: rgba(0, 0, 0, 0.50);
}

.navbar-header {
  height: 50px;
}

.navbar-fixed-top {
  border-width: 0 0;
}

.navbar-brand {
  margin-top: 2px;
  padding: 3px;
}
.navbar-brand > img {
  height: 100%;
  padding: 8px 12px;
  width: auto;
}

.navbar-toggle {
  margin-right: 5px;
  border: none;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 24px;
  height: 3px;
  background-color: #FFFFFF;
  border-radius: 1px;
}

.navbar-right {
  margin-right: 15px;
}

@media (max-width: 767px) {
  .navbar-nav {
    margin: 10% auto 20%;
  }
  /*.navbar-nav>li {*/
    /*text-align: left;*/
  /*}*/
  .navbar-collapse {
    position: absolute;
    width: 180px;
    max-height: none;
    border-top: none;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.50);
    opacity: 0;
    z-index: -1;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out 0s;
  }
  .navbar-collapse.menuExpanded {
    opacity: 1;
    z-index: 1;
    transform: translateX(0%);
  }
}

li > a {
  color: #FFFFFF;
  background-color: inherit;
}

/*li > a:hover {*/
  /*background-color: inherit;*/
/*}*/

/*li > a:focus {*/
  /*background-color: inherit;*/
/*}*/

/*li > a:hover {*/
  /*background-color: inherit;*/
/*}*/

@media (min-width: 768px) {
  li > a:hover {
    text-shadow: 1px 0px 0px white;
  }
}
