<div class="navbar-search" [ngClass]="{'searchExpanded': isSearchExpanded()}">
  <!--<div class="container-fluid">-->
  <div #navbarSearchPanel>
    <div class="navbar-search-content">
      <label class="search-label">Search Skii Events</label>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-body">Any Place</div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">Any Time</div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body"># of Guests</div>
        </div>
      </div>
      <button class="btn btn-clearall">Clear All</button>
    </div>
  </div>
  <!--</div>-->
</div>
