.navbar-search {
  position: absolute;
  /*width: 250px;*/
  width: 100%;
  /*min-height: 300px;*/
  max-height: none;
  border-top: none;
  box-shadow: none;
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px 0 40px;
  background-color: rgba(0, 0, 0, 0.50);
  opacity: 0;
  z-index: -1;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out 0s;
}
.navbar-search.searchExpanded {
  opacity: 1;
  z-index: 1;
  transform: translateX(0%);
}

/*.navbar-search-panel {*/
  /*overflow-y: scroll !important;*/
/*}*/

.navbar-search-content {
  margin: auto;
}

.search-label {
  color: white;
  margin: 15px 5px;
  font-size: 20px;
}
.panel-group {
  margin-bottom: 10px;
}
.panel-group .panel+.panel {
  margin-top: 20px;
}
.panel-default {
  background-color: inherit;
  color: white;
}
.panel-body {
  padding: 0;
}

.btn:focus {
  outline: none;
}

.btn-clearall {
  background-color: transparent;
  color: white;
  text-decoration: underline;
  float: right;
}

/*:host >>> aj-daterangepicker > .mydrp,*/
/*:host >>> aj-daterangepicker > .selectiongroup,*/
/*:host >>> aj-daterangepicker .selectiongroup > input {*/
  /*border: none;*/
  /*border-radius: 0;*/

/*}*/
/*:host >>> aj-daterangepicker > .selectiongroup {*/
  /*border: none;*/
  /*border-radius: 0;*/
/*}*/

:host >>> aj-daterangepicker > .drp,
:host >>> aj-daterangepicker .selectiongroup,
:host >>> aj-daterangepicker .drp input {
  background-color: transparent;
  position: static;
  border: none;
  padding: 0;
  margin: 0;
  /*border-radius: 0;*/
}

:host >>> aj-daterangepicker > .drp {
  display: block;
}

:host >>> aj-daterangepicker .drp input {
  padding: 5px 15px 5px;
  font-size: 17px !important;
  color: white;
}

:host >>> aj-daterangepicker .drp input::-webkit-input-placeholder {
  color: white;
  opacity: 1
}
:host >>> aj-daterangepicker .drp input::-moz-placeholder {
  color: white;
  opacity: 1
}
:host >>> aj-daterangepicker .drp input:-ms-input-placeholder {
  color: white;
  opacity: 1
}

:host >>> aj-daterangepicker .drp .btnpicker,
:host >>> aj-daterangepicker .drp .btnclear {
  background-color: transparent;
}

:host >>> aj-daterangepicker .drp .icon-drpcalendar:before {
  font-family: FontAwesome;
  content: "\f073";
  color: white;
  font-size: 120%;
}

:host >>> aj-daterangepicker .drp .icon-drpremove:before {
  font-family: FontAwesome;
  content: "\f00d";
  color: white;
  font-size: 120%;
}

:host >>> aj-daterangepicker .drp .selector {
  margin-left: 0;
  padding: 0;
}

:host >>> aj-daterangepicker .drp .header {
  height: 40px;
}

:host >>> aj-daterangepicker .drp .weekdaytitle {
  font-size: 12px;
}

:host >>> aj-daterangepicker .drp .daycell {
  height: 40px;
}

/*:host >>> aj-daterangepicker .selectiongroup, aj-daterangepicker input {*/
  /*color: white;*/
  /*background-color: transparent;*/
/*}*/
/*:host >>> aj-autocomplete .suggestions-selected {*/
  /*background-color: black;*/
/*}*/
