<div class="navbar-search" [ngClass]="{'searchExpanded': isSearchExpanded()}">
  <!--<div class="container-fluid">-->
  <div #navbarSearchPanel>
    <div class="navbar-search-content">
      <label class="search-label">Search Skii Events</label>
      <div class="panel-group">
        <div class="panel panel-default">
          <!--<div class="panel-body">Any Places</div>-->
          <div class="panel-body">
            <aj-autocomplete
              [dataList]="dataList"
              [width]="getWidth()"
              [filterFunc]="filterPlaces"
              [placeHolder]="'Search Places'"
              (opened)="onPlaceAutoCompleteOpened($event)"
              (selected)="onPlaceSelected($event)">
            </aj-autocomplete>
          </div>
        </div>
        <div #datePicker class="panel panel-default">
          <div class="panel-body">Any Time</div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body"># of Guests</div>
        </div>
      </div>
      <button class="btn btn-clearall">Clear All</button>
    </div>
  </div>
  <!--</div>-->
</div>
