<ng-template #submenu>
  <li #dropdown class="dropdown">
    <a href="#" class="dropdown-toggle" (click)="onMouseClick($event)">
      <i #icon *ngIf="displayIcon()" class="fa fa-fw" aria-hidden="true"></i>
      &nbsp;{{ linkName }}&nbsp;
      <span class="caret" [ngClass]="{'subMenuExpanded': isSubMenuExpanded()}">
      </span>
    </a>
    <ul class="dropdown-menu"
        [ngClass]="{'subMenuExpanded': isSubMenuExpanded()}">
      <li *ngFor="let item of items">
        <a href="#">{{ item }}</a>
      </li>
      <li *ngIf="displayLogout()"><a href="#">Log Out</a>
      </li>
    </ul>
  </li>
</ng-template>
