@media (min-width: 769px) {
  .columns {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  :host >>> md-card {
    box-shadow: none !important;
    padding: 0 16px;
  }
}

:host >>> .profile-form {
  padding: 0 20px;
}

:host >>> .profile-input-group {
  width: 100%;
  /*margin-top: 10px;*/
  padding: 40px 20px 15px;
  /*border: solid 1px rgba(0, 0, 0, .12);*/
}

:host >>> .mat-checkbox-inner-container {
  width: 14px;
  height: 14px;
  margin-right: 8px;
}

:host >>> .mat-checkbox-label {
  font-size: 13px !important;
  font-weight: normal;
  /*line-height: 14px;*/
}

:host >>> .profile-btn-container {
  width: 100%;
  padding: 0 20px 40px;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
}

:host >>> .profile-btn {
  display: block;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  color: white;
  background-color: rgba(0, 0, 0, .5);
  border: none;
  font-size: 16px;
}
:host >>> .profile-btn.disabled {
  background-color: rgba(0, 0, 0, .25);
}
