<div class="navbar-search"
     [ngClass]="{'searchExpanded': isSearchMenuExpanded()}"
     [style.min-height]="getMinHeight()">
  <div [ngStyle]="{'max-height': getMaxHeight(), 'overflow-y': getOverflowY()}">
    <div class="navbar-search-content"
         [style.width]="fieldWidth">
      <label class="search-label">{{'NAVBAR.SEARCH.TITLE'|translate}}</label>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-body">
            <aj-dropdown #placeSearcher
                         [dataList]="searchService.placeList"
                         [placeHolder]="'NAVBAR.SEARCH.PLACES.MENU_INPUT_TXT'"
                         [width]="fieldWidth"
                         [filterFunc]="searchService.filterPlaces"
                         [displayProperty]="'display'"
                         [displayMaxCount]="searchService.displayedPlacesMaxCount"
                         [sorted]="true"
                         [autoComplete]="true"
                         (selected)="onPlaceSelected($event)">
            </aj-dropdown>
          </div>
        </div>
        <div id="datePickerPanel" class="panel panel-default">
          <div class="panel-body">
            <aj-daterangepicker #dateRangePicker
                                [placeholder]="'NAVBAR.SEARCH.DRP.INPUT.MENU_TXT'"
                                [width]="fieldWidth"
                                [height]="fieldHeight"
                                [options]="searchService.dateRangePickerOptions">
            </aj-daterangepicker>
          </div>
        </div>
        <div #categoryPanel class="panel panel-default">
          <div class="panel-body">
            <aj-dropdown #categoryPicker
                         [dataList]="searchService.categoryList"
                         [placeHolder]="'NAVBAR.SEARCH.CATEGORY.MENU_INPUT_TXT'"
                         [width]="fieldWidth"
                         [height]="fieldHeight"
                         [displayProperty]="'display'"
                         (selected)="onCategorySelected($event)">
            </aj-dropdown>
          </div>
        </div>
      </div>
      <button class="btn btn-clearall"
              (click)="placeSearcher.clearField(); categoryPicker.clearField(); dateRangePicker.clearDateRange()">
        {{'NAVBAR.SEARCH.CLEAR_ALL'|translate}}
      </button>
    </div>
  </div>
</div>
