.navbar-search {
  position: absolute;
  width: 100%;
  max-height: none;
  border-top: none;
  box-shadow: none;
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px 0 40px;
  background-color: rgba(0, 0, 0, 0.50);
  opacity: 0;
  z-index: -1;
  transform: translateX(100%);
  /*transition: all 0.5s ease-in-out 0s;*/
  transition: all 0.5s cubic-bezier(0.35, 0, 0.25, 1);
}
.navbar-search.searchExpanded {
  opacity: 1;
  z-index: 1;
  transform: translateX(0%);
}

.navbar-search-content {
  margin: auto;
}

.search-label {
  color: white;
  margin: 15px 5px;
  font-size: 20px;
}
.panel-group {
  margin-bottom: 0;
}
.panel-group .panel+.panel {
  margin-top: 20px;
}
.panel {
  border: none;
}
.panel-default {
  background-color: inherit;
  color: white;
}
.panel-body {
  padding: 0;
  /*height: 36px;*/
}

.btn:focus {
  outline: none;
}

.btn-clearall {
  background-color: transparent;
  color: white;
  /*text-decoration: underline;*/
  text-decoration: none;
  border-bottom: solid 1px white;
  border-radius: 0;
  padding: 0 4px 0;
  margin: 15px 15px 15px 0;
  float: right;
  font-size: 16px;
}

:host >>> aj-dropdown .inputgroup {
  height: 38px;
}
:host >>> aj-dropdown .inputgroup > input {
  font-size: 17px;
}
:host >>> aj-dropdown .fa-chevron-down {
  font-size: 120%;
}
:host >>> aj-dropdown .fa-pencil {
  font-size: 120%;
}
:host >>> aj-daterangepicker .selectiongroup {
  height: 38px;
}
:host >>> aj-daterangepicker .drp .selection {
  font-size: 17px !important;
}

