<div class="navbar-search"
     [ngClass]="{'searchExpanded': isSearchMenuExpanded()}"
     [style.min-height]="getMinHeight()">
  <div [ngStyle]="{'max-height': getMaxHeight(), 'overflow-y': getOverflowY()}">
    <div class="navbar-search-content"
         [style.width]="fieldWidth">
      <label class="search-label">{{searchMenuData.title | translate}}</label>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-body">
            <aj-dropdown #placeSearcher
                         [dataList]="searchService.placeList"
                         [placeHolder]="searchMenuData.placeSearcher.menuPlaceHolder"
                         [filterFunc]="searchService.filterPlaces"
                         [displayProperty]="searchMenuData.placeSearcher.displayProperty"
                         [displayMaxCount]="searchMenuData.placeSearcher.displayMaxCount"
                         [sorted]="searchMenuData.placeSearcher.sorted"
                         [autoComplete]="searchMenuData.placeSearcher.autoComplete"
                         (selected)="onPlaceSelected($event)">
            </aj-dropdown>
          </div>
        </div>
        <div id="datePickerPanel" class="panel panel-default">
          <div class="panel-body">
            <aj-daterangepicker #dateRangePicker
                                [placeholder]="searchMenuData.dateRangePicker.menuPlaceHolder"
                                [options]="searchMenuData.dateRangePicker.options">
            </aj-daterangepicker>
          </div>
        </div>
        <div #categoryPanel class="panel panel-default">
          <div class="panel-body">
            <aj-dropdown #categoryPicker
                         [dataList]="searchService.categoryList"
                         [placeHolder]="searchMenuData.categoryPicker.menuPlaceHolder"
                         [displayProperty]="searchMenuData.categoryPicker.displayProperty"
                         (selected)="onCategorySelected($event)">
            </aj-dropdown>
          </div>
        </div>
      </div>
      <button class="btn btn-clearall"
              (click)="placeSearcher.clearField(); categoryPicker.clearField(); dateRangePicker.clearDateRange()">
        {{searchMenuData.clearAll | translate}}
      </button>
    </div>
  </div>
</div>
