li > a {
  color: white;
  background-color: inherit;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

li > a:hover {
  background-color: inherit;
}

a > .caret {
  margin-left: 4px;
  border-width: 5px;
  transition: all 0.5s ease-in-out;
}
a > .caret.subMenuExpanded {
  transform: rotate(-180deg);
}

.dropdown-menu {
  display: block;
  left: 0;
  border: none;
  padding: 2px 0;
  opacity: 0;
  box-shadow: none;
  position: absolute;
  min-width: 80px;
  width: 100%;
  z-index: -1;
  transform: translateY(-2em);
  transition: all 0.5s ease-in-out 0.01s;
}

.dropdown-menu.subMenuExpanded {
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
}
@media (max-width: 768px) {
  .dropdown {
    transition: all 0.5s linear 0s;
  }
  .dropdown-menu {
    background-color: inherit;
  }
}
@media (min-width: 768px) {
  .dropdown-menu {
    padding-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.50);
  }
}

