.submenu-container > a {
  display: block;
  width: fit-content;
  position: relative;
  line-height: 20px;
}

.submenu > li > a {
  display: block;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  white-space: nowrap;
}

@media (max-width: 1024px) {
  /*.submenu-container {*/
    /*position: relative;*/
    /*height: 100%;*/
  /*}*/
  li {
    font-size: 120%;
  }
  .submenu-container > a {
    padding: 10px 15px;
  }
  .submenu > li > a {
    padding: 3px 15px;
  }
  .submenu-container > a > .caret {
    margin-left: 4px;
    border-width: 5px;
    transition: all 0.5s ease-in-out;
  }
  .submenu-container > a > .caret.expanded {
    transform: rotate(-180deg);
  }
  .submenu {
    /*display: none;*/
    display: block;
    left: 0;
    position: relative;
    background-color: inherit;
    border: none;
    box-shadow: none;
    /*position: static;*/
    padding: 0;
    list-style: none;
    font-size: 14px;
    min-width: 80px;
    width: 100%;
    max-height: 0;
    width: 100%;
    opacity: 0;
    z-index: -1;
    transform: translateY(-2em);
    /*transition: all 0.3s ease-in-out, max-height 0.15s ease-in-out;*/
    transition: all 0.4s ease-in-out;
  }
  /*.submenu.pre-expanded {*/
    /*display: block;*/
  /*}*/
  .submenu.expanded {
    /*display: block;*/
    max-height: 400px;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
  }
  /*.submenu.pre-collapsed {*/
    /*display: block;*/
    /*opacity: 0;*/
    /*z-index: -1;*/
  /*}*/
}

@media (min-width: 1025px) {
  li {
    font-size: 100%;
  }
  .submenu-container > a {
    text-align: center;
    padding: 15px 0;
    width: 50px;
    /*margin-right: 5px;*/
  }
  .submenu-container:hover .fa {
    font-size: 22px;
  }
  .submenu > li > a {
    padding-top: 8px;
  }
  .submenu {
    display: none;
    top: 50px;
    right: 0;
    border: none;
    box-shadow: none;
    padding-bottom: 15px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.50);
    width: 200px;
    opacity: 0;
    z-index: -1;
    transform: translateY(-2em);
    transition: all 0.5s ease-in-out;
  }
  .submenu.pre-expanded {
    display: block;
  }
  .submenu.expanded {
    display: block;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
  }
  .submenu.pre-collapsed {
    display: block;
    opacity: 0;
    z-index: -1;
    transform: translateY(-2em);
  }
  .submenu > .signout-item {
    padding-left: 40px;
  }
}
