<div class="submenu-container">
  <a (click)="onClick($event)">
    <i class="fa fa-fw" aria-hidden="true"
       [ngClass]="menuData.iconClass ? menuData.iconClass : ''">
    </i><span *ngIf="isDeviceWidth()">{{ menuData.display | translate }}</span>
    <span *ngIf="isDeviceWidth()" class="caret" [ngClass]="{'expanded': isSubMenuExpanded()}"></span>
  </a>
  <ul class="submenu" [ngClass]="{'expanded': isSubMenuExpanded()}">
    <li *ngFor="let item of menuData.list">
      <a [routerLink]="item.link ? item.link.param ? [item.link.path, item.link.param] : [item.link.path] : []"
         (click)="onSubMenuClick(item.name)">
        <span>
          <i *ngIf="item.iconClass"
             class='fa fa-fw'
             [ngClass]="item.iconClass"
             aria-hidden="true">
          </i>
        </span>{{ item.display | translate }}
      </a>
    </li>
    <li *ngIf="menuData.name === 'account' && ! this.isDeviceWidth()">
      <a [routerLink]="['/']">{{'NAVBAR.SIDE.SIGNOUT'|translate}}</a>
    </li>
  </ul>
</div>

