<aj-navbar></aj-navbar>
<div class="home-background" [ngStyle]="{ 'background-image': 'url(' + backgroundImage + ')'}"></div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="navbar-search">
  <div class="container">
    <div></div>
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-body">Any Places</div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">Any Time</div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body"># of Guests</div>
      </div>
    </div>
  </div>
</div>

<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>
<p>hahahaha</p>



