.container {
  padding: 0;
  margin: 0;
}

input {
  color: white;
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 5px 15px 5px;
  outline: none;
  font-size: 17px;
}
input::-webkit-input-placeholder {
  color: white;
  opacity: 1
}
input::-moz-placeholder {
  color: white;
  opacity: 1
}
input:-ms-input-placeholder {
  color: white;
  opacity: 1
}
input:focus::-webkit-input-placeholder {
  opacity: 0;
}
input:focus::-moz-placeholder {
  opacity: 0;
}
input:focus:-ms-input-placeholder {
  opacity: 0;
}

.suggestions{
  border:solid 1px #DDDDDD;
  position: absolute;
  margin-top: 2px;
  padding: 0;
  background-color: transparent;
  border-radius: 3px;
}
.suggestions ul {
  padding: 0px;
  margin: 0px;
}
.suggestions ul li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.suggestions ul li a {
  padding: 5px 15px 5px;
  display: block;
  text-decoration: none;
  font-size: 18px;
  color: white;
}
.suggestions ul li a:hover {
  background-color: rgba(255, 255, 255, 0.50);
}
.suggestions-selected {
  background-color: rgba(255, 255, 255, 0.50);
  color: white;
}
