<!--<button md-button-->
        <!--[routerLink]="['/user/profile', {outlets: {'menu': ['menu'], 'aux': ['personalinfo']}}]">-->
  <!--Personal Info-->
<!--</button>-->

<!--<button md-button-->
        <!--[routerLink]="['/user/profile', {outlets: {'menu': ['menu'], 'aux': ['changepassword']}}]">-->
  <!--Change Password-->
<!--</button>-->

<button md-button (click)="onPersonalInfoClicked($event)">
  Personal Info
</button>

<button md-button (click)="onChangePasswordClicked($event)">
  Change Password
</button>
