/* You can add global styles to this file, and also import other style files */

/*@import '~@angular/material/prebuilt-themes/indigo-pink.css';*/

html, body {
  /*-ms-overflow-style: -ms-autohiding-scrollbar;*/
  height: 100%;
  -ms-overflow-style: none;  /* IE 10+ */
  /* overflow: -moz-scrollbars-none;   Firefox */
}
::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
  /* width: 0px;   remove scrollbar space */
  /* background: transparent;   optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
/*::-webkit-scrollbar-thumb {*/
  /*background: #FF0000;*/
/*}*/

*:focus {
  outline: none;
}

a {
  cursor: pointer;
}

@media (max-width: 1024px) {
  li {
    font-size: 130%;
  }
  /*li > ul > li {*/
    /*font-size: 115%;*/
  /*}*/
}
@media (min-width: 1025px) {
  li {
    font-size: 110%;
  }
  /*li > ul > li {*/
    /*font-size: 100%;*/
  /*}*/
}

