/* You can add global styles to this file, and also import other style files */

html, body {
  /*-ms-overflow-style: -ms-autohiding-scrollbar;*/
  height: 100%;
  -ms-overflow-style: none;  /* IE 10+ */
  /* overflow: -moz-scrollbars-none;   Firefox */
}
::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
  /* width: 0px;   remove scrollbar space */
  /* background: transparent;   optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
/*::-webkit-scrollbar-thumb {*/
  /*background: #FF0000;*/
/*}*/

@media (max-width: 767px) {
  li {
    font-size: 130%;
  }
  li > ul > li {
    font-size: 115%;
  }
}
@media (min-width: 768px) {
  li {
    font-size: 110%;
  }
  li > ul > li {
    font-size: 100%;
  }
}

/*ul li {*/
  /*display: table;*/
/*}*/

/*ul li a {*/
  /*display: table-cell;*/
  /*vertical-align: middle;*/
/*}*/

/*a > .fa {*/
  /*margin-right: 20px;*/
  /*font-size: 22px;*/
/*}*/

/*.no-scroll {*/
  /*overflow: hidden;*/
/*}*/
