/*:host >>> md-list-item .mat-list-item-content {*/
  /*padding: 0 !important;*/
  /*height: 50px !important;*/
/*}*/

md-list-item {
  padding: 0 !important;
  /*height: 50px !important;*/
}
md-list-item.sublink {
  height: 36px !important;
}

.item-button-container {
  width: 100%;
  text-align: left;
  padding: 0 5px;
  font-size: 16px;
}
.item-button-container.sublink {
  padding-left: 40px;
  font-size: 15px;
}

.icon-sublink {
  /*font-size: 20px !important;*/
  /*line-height: 1.2;*/
}

.item-button-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  opacity: 0.7;
}

.item-label {
  width: 100%;
  margin: 0 15px;
}

.item-line {
  border-bottom: 1px solid rgba(0,0,0,.15);
}

.item-icon {
  color: rgba(0,0,0,.5);
}

@media (min-width: 769px) {
  .item-selected {
    background-color: rgba(0,0,0,.15);
  }
}

@media (max-width: 768px) {
  :host >>> .mat-list-icon {
    text-align: center;
  }
}

